<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->
<!-- ***** Header Area Start ***** -->
<br />
<br />
<br />
<br />
<br />
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        <img src="~/images/logo.png">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                        <li><a href="@Url.Action("Lab", "Home")" class="active" style="color: #fff !important;">Phòng thí nghiệm</a></li>
                        <li><a href="@Url.Action("Theory", "Home")">Lý thuyết</a></li>
                        <li><a href="@Url.Action("Quiz", "Home")">Trắc nghiệm</a></li>
                        <li><a href="@Url.Action("Video", "Home")">Hoá học kỳ diệu</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->
<!-- ***** Theory Area Starts ***** -->

<section class="section" id="theory">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>Coming soon!</h2>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    </div>
</section>